.lap-list {
    /* removes default styling of a ul */
    margin-block-start: 0;
    padding-inline-start: 0;
}

.lap-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.lap {
    width: 100%;
    margin-top: 24px;
}