.screen {
  background-color: var(--screen);
  padding: 1.28rem 3.2rem;
  border-radius: 10px;
}

.numbers {
  font-family: "Roboto", sans-serif;
  color: var(--disabled);
  font-size: 9.6rem;
}

.numbers .enabled {
  color: var(--main-text);
}
