body {
    background-color: rgb(36, 34, 34);
}

.stopwatch {
    margin-top: 300px;
    text-align: center;
   
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(220, 207, 207);
    letter-spacing: 5px;
}

button {
margin: 10px;
padding: 10px;
border-radius: 20%;
font-size: 20px;
}

button:hover {
    background-color: rgb(170, 56, 56);
}
button:focus {
    outline: 2px solid rgb(170, 56, 56);
}

ul {
    list-style: none;
}

li {
    font-size: 25px;
    color: rgb(220, 207, 207)
}