.time {
  display: inline-block;
  color: #ffff;
  filter: drop-shadow(-2px 5px 3px rgba(0, 0, 0, 0.768));
}

.time span {
  font-variant-numeric: tabular-nums;
  font-family: "Digital-7", monospace;
  font-size: 5.5em;
  text-align: center;
  line-height: 1.5;
}

.ul {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  position: absolute;
  height: auto;
  color: #fff;
  width: clamp(15rem, 30vw, 25rem);
  padding-bottom: 100px;
}

.li {
  position: relative;
  margin-bottom: 5px;
}

.lap-container {
  position: relative;
  display: flex;
  justify-content: center;
}
