.lap-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.lap-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #242427;
  width: 100%;
}
