@font-face {
    font-family: "Spectral";
    src: url(./fonts/Spectral-SemiBold.ttf) format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Spectral";
    src: url(./fonts/Spectral-Bold.ttf) format("ttf");
    font-weight: 700;
}