/* Global CSS Variables for Light Theme */
:root {
  --background-color: #fff;
  --text-color: #000;
  --button-bg-color: #34445B;
  --button-text-color: #fff;
  --button-hover-bg-color: #263238;
  --header-bg-color: #f2f2f2;
}

/* Global CSS Variables for Dark Theme */
[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-bg-color: #1c1c1e;
  --button-hover-bg-color: #313133;
  --header-bg-color: #1c1c1e;
}

/* Base styles for html and body */
html, body {
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  height: 100%;
  background: var(--background-color);
  font-family: "Inter", sans-serif;
}

/* App container styles */
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header styles */
.header {
  width: 100%;
  text-align: center;
  background-color: var(--header-bg-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header h1 {
  color: var(--text-color);
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
