button {
    transition: background-color 0.3s ease;
  }
  
button:hover {
background-color: #0056b3;
}

.text-center {
    text-align: center;
}
  
.bg-primary {
    background-color: #007bff;
    color: #fff;
}
.stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; /* Adjust as needed */
}
/* Base styles */
.stopwatch-display {
    display: flex;
    position: fixed;
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center align the items */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    flex-shrink: 0;
}

.timer-display {
    text-align: center;
}

.lap-time-display {
    text-align: center;
    /* Add margin if needed */
}


.laps-container {
    position: fixed;
    top: 25%; /* Positioned halfway down the screen */
    left: 75%; /* Positioned to the right */
    transform: translateX(-50%); /* Only shift horizontally */
    max-height: 300px;
    overflow-y: auto;
    width: 25%;
    border: 2px solid black;
    z-index: 1;
    box-sizing: border-box;
}

.lap-time-display {
    text-align: center; /* Center the lap time text */
    margin-top: 0.1em; /* Add some space above the lap time */
}

.milliseconds-display {
    font-size: 0.5em;
    margin-left: 0.1em;
}

.button-container {
    display: flex;
    justify-content: center; /* Align buttons in the center */
}

/* Media query for smaller screens to reduce the margin */
@media (max-width: 800px) {
    .button-container {
        margin-top: 2vh; /* Smaller margin for small screens */
    }
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .stopwatch-display,
    .laps-container {
        position: static;
        transform: none;
        left: auto;
        top: auto;
        width: auto; /* Adjust the width to fit the container */
    }

    .laps-container {
        height: auto; /* Adjust height as needed */
        max-height: 200px; /* Set a max-height for scrolling */
        overflow-y: auto; /* Keep the overflow for scrolling */
    }

    /* Adjust the main container for a column layout */
    .stopwatch-container {
        flex-direction: column;
        align-items: center; /* Center align items for a column layout */
    }
}
