@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

button {
  transition: transform 0.5s ease-in-out;
}

button:active {
  transform: scale(0.8);
}

button:hover {
  transform: scale(0.97);
}

.footerCopyRight {
  position: fixed;
  bottom: 0;
}
