/**
 * @author Joshua Dierickse <jpcdieri@uwaterloo.ca>
 */

/* HTML background styles  */
html {
    background-color: #c8b88a;
    font-family: 'JetBrains Mono', monospace;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Centers the card vertically and horizontally */
.center-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the "Shopify Stopwatch" header text */
.header-text {
    color: #476930;
    text-align: center;
    font-size: 80px;
    margin: 20px 0px 20px 0px;
}

/* Creates the grid for the lap list items */
.lap-grid {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
}

/* Styling the lap list items text */
.lap-grid p {
    margin: 5px;
    text-align: right;
    font-size: 20px;
    color: #86b049;
}

/* Styling the timer text */
.timer-text {
    font-size: 175px;
    color: #86b049;
    margin: 0px;
}

/* Creating a flex-box for the buttons to span horizontally in a row */
.button-div {
    display: flex;
    gap: 10px;
}

/* Styles for the "Made with ♡ by Joshua Dierickse" footer text */
.footer-text {
    width: 100%;
    color: #476930;
    font-weight: 600;
    position: absolute;
    bottom: 0px; left: 0;
    text-align: center;
}

/* Media query to shrink fonts for laptop screens */
@media screen and (max-width: 1200px) {
    .header-text {
        font-size: 60px;
    }
    .timer-text {
        font-size: 150px;
    }
}
  
/* Media query to shrink fonts for tablet/iPad screens */
@media screen and (max-width: 800px) {
    .header-text {
        font-size: 40px;
    }
    .timer-text {
        font-size: 100px;
    }
}

/* Media query to shrink fonts for phone screens */
@media screen and (max-width: 600px) {
    .header-text {
        font-size: 30px;
    }
    .timer-text {
        font-size: 60px;
    }
}