/* LapTable.css */
/* Variables specific to lap table */
:root {
  --lap-bg-color: #fff;
  --table-header-bg-color: #fff;
  --table-border-color: #eee;
  --laps-title-bg-color: #f2f2f2;
  --export-button-color: #4db6ac;
  --export-button-hover-text-color: #37474f;
  --clear-button-hover-border-color: #e57373;
  --button-hover-background-color: #121212;
}

[data-theme='dark'] {
  --lap-bg-color: #1c1c1e;
  --table-header-bg-color: #1c1c1e;
  --table-border-color: #3c3c3e;
  --laps-title-bg-color: #2c2c2e;
}

/* Container for lap times */
.laps-container {
  width: 80%;
  margin: 32px auto;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--lap-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Title styles for laps container */
.laps-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background: var(--laps-title-bg-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 4px;
}

/* Content styles inside laps container */
.laps-content {
  flex: 1;
  max-height: calc(40px * 6 + 40px);
  overflow-y: auto;
  padding: 0 20px;
}

/* Styling for table headers and individual lap rows */
.table-headers, .lap {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid var(--table-border-color);
}

.table-headers {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--table-header-bg-color);
}

/* Common styling for lap number and header columns */
.lap-number,
.table-headers > .lap-number {
  width: 50px;
  text-align: center;
}

/* Common styling for lap time, elapsed time, and current time columns */
.lap-time,
.lap-elapsed-time,
.lap-current-time,
.table-headers > .lap-time,
.table-headers > .lap-elapsed-time,
.table-headers > .lap-current-time {
  flex: 1;
  text-align: center;
}

/* Container for buttons */
.button-container {
  position: static;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

/* Common styles for all buttons */
.button,
.clear-laps,
.export-laps {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: var(--button-text-color);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: var(--button-bg-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  box-sizing: border-box;
}

/* Hover styles for all buttons */
.button:hover,
.clear-laps:hover,
.export-laps:hover {
  background-color: var(--button-hover-bg-color);
}

/* Clear laps button specific styles */
.clear-laps {
  border-radius: 0 0 0 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 2px solid transparent;
  margin-left: -10px;
}

.clear-laps:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-text-color);
  border-color: var(--clear-button-hover-border-color);
}

/* Export button specific styles */
.export-laps {
  border-radius: 0 0 10px 0;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 2px solid transparent;
  margin-right: -10px;
}

.export-laps:hover {
  background-color: var(--button-hover-background-color);
  color: #ffffff;
  border-color: var(--export-button-color);
}
