@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-primary-900);
}

:root {
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-button-primary: #dd2c00;
  --color-button-primary-hover: #ff5930;
  --color-button-primary-disabled: #ff9a81;
  --color-focus-outline: #084bb8;
}
