* {
  box-sizing: border-box;
}

.timer {
  height: 98vh;
  background-color: #ffc0cb;
  overflow: auto;
}

.timerContainer {
  margin: 50px;
  float: left;
  height: fit-content;
  text-align: center;
  font-size: 30px;
  color: rgb(240, 155, 169);
  background-color: white;
  width: 40%;
  border-radius: 15px;
  padding-top: 1rem;
  box-shadow: 0 1rem 1rem -0.7rem #d87093;
}

.lapContainer {
  margin: 50px;
  float: left;
  height: fit-content;
  text-align: center;
  font-size: 25px;
  color: rgb(240, 155, 169);
  background-color: white;
  width: 40%;
  padding: 1rem 6rem;
  border-radius: 15px;
  box-shadow: 0 1rem 1rem -0.7rem #d87093;
}

.carMovement {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 40px;
  height: 150px;
}

.carMovement > .car {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: inline-block;
}

.carMovement > .carMove {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: inline-block;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 10s;
}

@keyframes run {
  0% {
    transform: rotateY(0deg);
    left: -100%;
  }
  50% {
    transform: rotateY(0deg);
    left: 100%;
  }
  51% {
    transform: rotateY(180deg);
    left: 100%;
  }
  100% {
    transform: rotateY(180deg);
    left: -100%;
  }
}

@media (max-width: 1050px) {
  .timerContainer,
  .lapContainer {
    width: 80%;
    float: center;
    margin: 50px;
  }
}
