@use './breakpoints' as *;
@use './mixins' as *;
@use './fonts' as *;
@use './colours' as *;

.stopwatch {

    &_container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &_time {
        font-weight: 700;
        font-size: 6rem;
        line-height: 5rem;
        color: $primary-dark;

        &_seperator {
            display: none;

            @include tablet {
                display: flex;
                font-weight: 700;
                font-size: 8rem;
                line-height: 7rem;
                color: $primary-dark;
            }
        }
    }
}