.stopwatch-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem; /* Adjust this value to position the buttons correctly */
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #34445B;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    font-weight: bold;
    min-width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  
  .button.start:hover, .button.stop:hover {
    background-color: #263238;
  }
  
  .button.reset:hover, .button.lap:hover {
    background-color: #4f5b62;
    color: white;
  }
  
  /* Ensure that the buttons are centered in the button container */
  .button.lap, .button.reset {
    justify-content: center;
    align-items: center;
  }