.stop-watch-button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;    
    margin: 5px;
}

.start{
    background-color: #04AA6D; 
}

.start:hover {
    background-color: rgb(26, 148, 49); 
    color: white;
  }

.stop{
    background-color: red; 
}

.stop:hover {
    background-color: rgb(214, 46, 52); 
    color: white;
  }

.lap{
    background-color: black; 
}

.lap:hover {
    background-color: rgb(109, 109, 109); 
    color: white;
  }

.reset{
    background-color: black;
}

.reset:hover {
    background-color: rgb(109, 109, 109); /* Green */
    color: white;
  }

.disabled {
    background-color: rgb(174, 173, 173);
}