@use './breakpoints' as *;
@use './mixins' as *;
@use './fonts' as *;
@use './colours' as *;

.control {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
    }

    &_button {
        background-color: $primary-dark;
        color: $dark-contrast;
        border: none;
        font-weight: 600;
        text-align: center;
        min-width: 4rem;
        width: 30%;
        padding: 1rem;
        margin: 0.5rem 0.25rem;
        border-radius: 1rem;
        
        @include tablet {
            min-width: 7rem;
            font-size: 2rem;
            width: 40%;
            margin: 1rem 0.5rem;
        }
    }
}

.button_container {
    width: 25%;
    text-align: center;

    @include tablet {
        width: auto;
    }
}