button {
    border: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 1.5em;
    font-family: Verdana;
}

.button-container {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    margin: 0 30% 0 30%;
}

.button.lapReset {
    background-color: rgb(154, 153, 153);
    color: white;
}

.button.start {
    background-color: rgb(86, 165, 89);
}

.button.stop {
    background-color: rgb(237, 84, 84);
}