button {
    border: 2px solid;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: Verdana;
    margin: 0 75px;
}

.button-container {
    padding-bottom: 40px;
}

.button.lapReset {
    color: rgb(154, 153, 153);
    border-color: rgb(154, 153, 153);
}

.button.start {
    color: rgb(86, 165, 89);
    border-color: rgb(86, 165, 89);
}

.button.stop {
    color: rgb(237, 84, 84);
    border-color: rgb(237, 84, 84);
}