.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-family:'Times New Roman', Times, serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.watch-face0 {
  font-family: "Source Sans Pro", sans-serif;;
  text-align: center;
  font-size: 24px;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 30px;
  border: 3px solid #04AA6D;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.watch-face1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  /* margin: 10px; */
  padding: 0px;
}

.watch-face2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translate(0%, 0%);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #444;
  text-align: center;
}

.watch-face2::after {
  background: #aaa;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.time {
  font-size: 2em;
}

.time-inside {
  height: 75%;
  align-items:flex-end;
  bottom: 10%;
  justify-content: center;
  display:flex;
  top: 50%;
  font-size: 1.5em;
}

.watch-face2 span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 10px;
  top: 46%;
}

.four {
  right: 30px;
  top: 67%;
}

.five {
  right: 78px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 50%;
}

.seven {
  left: 80px;
  top: 82%;
}

.eight {
  left: 30px;
  top: 67%;
}

.nine {
  left: 10px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}

.lap_hand {
  position: absolute;
  width: 2px;
  height: 100px;
  background: blue;
  top: 17%;
  left: 49.5%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 2px;
  height: 100px;
  background: red;
  top: 17%;
  left: 49.5%;
  transform-origin: bottom;
}