body {
    background-color: #dfdfff;
}

hr {
    width: 10%;
    height: 0px;
    border-style: dotted none none none;
    border-width: 5px;
    margin-top: 20px;
}

.main {
    background-color: #0F1035;
    margin: 5% 10%;
    padding: 2% 5%;
    color: #7FC7D9;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.459);
    font-family: 'Patua One', serif;
}

.hour, .min, .sec {
    display: inline-block;
}

.time-element {
    font-size: 800%;
    padding: 0 20px;
    margin: 10% 0 0;
    height: 130px;
    width: 150px;
    color: rgb(255, 255, 255);
}

.caption {
    margin-top: 0;
    text-align: center;
}


.colon {
    display: inline;
    font-size: 7rem;
    transform: translateY(-45px);
    display: inline-block;
    margin: 2% 0;
}

.Toastify {
    text-align: left !important;
}

.Toastify__close-button {
    width: 25px;
}