button {
    border: 1px solid rgb(255, 250, 250);
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17.5px;
    background: rgb(210, 210, 210);
    padding: 6px;
    margin-left: 5px;
    color: white;
}