/* General styles for the entire application */
body {
    background-color: #282c34; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    justify-content: center; 
    align-items: center;
}

/* Styles specific to the container of the time display */
.time-container {
    color: rgb(255, 255, 255); 
    display: flex; 
    letter-spacing: 12px; 
    position: center; 
}

/* Styles for the colon separating hours, minutes, and seconds */
.time-container span {
    position: relative; 
    top: 5px; 
    font-size: 4rem; 
}

/* Styles for the time digits */
.timer-text {
    font-size: 5rem; 
    margin: 0; 
}
