.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.time-display {
  font-size: 2em; /* Large font size for the time display */
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.laps {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.lap-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.delete-button {
  margin-left: 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
