body {
  background: rgb(218, 112, 214);
  background: radial-gradient(
    circle,
    rgba(218, 112, 214, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  color: #f0a7ee;
  display: flex;
  letter-spacing: 2px;
  flex-wrap: wrap;
  text-align: center;
}

.container span {
  position: relative;
  font-size: 6rem;
  bottom: 3px;
}

.text {
  margin: 0;
  font-size: 6rem;
}

.btn {
  background-color: #d8bfd8;
  color: black;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 2px 13px 10px;
  cursor: pointer;
  border: 1px solid purple;
  border-radius: 4px;
}

.btn:hover {
  background-color: #da70d6;
}

.btn.selected {
  background-color: #da70d6;
}

.lap-list {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

/* smaller screens */

@media only screen and (max-width: 600px) {
  .container span {
    font-size: 4rem;
  }

  .text {
    font-size: 4rem;
  }

  .btn {
    padding: 8px 16px;
    font-size: 1rem;
    margin: 5px;
  }
}
