body {
    margin: 0;
    background-color: #96bf48;
}

.stopwatch-container {
    display: flex;
    height: 101vh;
    margin-top: 20%;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.timer-display {
    display: flex;
    color: white;
}

.timer-display p {
    margin: 0;
    font-size: 3.5rem;
    letter-spacing: 4px; 
}

.timer-display {
    font-size: 3rem;
    position: relative;
    top: 8px;
    letter-spacing: 2px;
}

.stopwatch-button-container {
    display: flex;
    flex-direction: row;
}

.stopwatch-controls-container button {
    margin: 10px;
    border: none;
    background-color: whitesmoke;
    padding: 5px 12px;
    font-size: 1.2 rem;
    font-weight: 400;
    cursor: pointer;
    color: #96bf48;
}
