body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

li {
  list-style-type: none;
  border-width: 1px;
}

button {
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 6px;
}

.app {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 6px;
  padding: 10px;
  max-width: 600px;
  width: 90vw;
  margin: 30px;
}

.laps {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 2px;
  border-radius: 6px;
  padding: 10px;
  overflow: auto;
  max-height: 360px;
  min-height: 100px;
}

.timer {
  font-size: 4em;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
