.nes-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;
  border: 7px solid white;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 20px;
  background-clip: padding-box; /* dont paint over border */
  width: 80vw;
  max-width: 600px;
  margin: auto;
}

.nes-background h1,
.nes-background h2,
.nes-background h3 {
  text-align: center;
  margin: 0.5em 0;
}

/* size-specific styles */
.nes-background.small {
  width: 80%;
  max-width: 80%;
  height: auto;
  min-width: fit-content;
}

.nes-background.medium {
  width: 50%;
  height: 50%;
  margin: 0;
}

.nes-background.large {
  min-width: fit-content;
  width: 45vw;
  height: auto;
  margin: 1em auto;
}

.record-board-content {
  max-height: 15em;
  overflow-y: auto; /* Allows scrolling for overflow content */
}
