.stats-display-container {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
}

.stats-header,
.stats-text {
  width: 100%;
  padding-left: 1em; /* align text to left edge of container */
}

.stats-header h3 {
  font-size: calc(10px + 0.9vw); /* scales with the viewport width */
  margin-bottom: 0.5rem;
}

.stats-text p {
  font-size: calc(10px + 0.5vw); /* slightly smaller text then header */
  margin-bottom: 0.25rem;
}
