
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.row-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.stopwatch-time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.lap-time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: row;
}