.stopwatch-btn {
   font-size: 1.5rem;
   padding: 0.5rem 1rem;
   cursor: pointer;
   transition: opacity 0.2s ease-in-out, transform 0.09s;
   background: none;
   border-width: 0.2rem;
   border-style: solid;
   border-radius: 0.5rem;
   text-transform: capitalize;
}

.stopwatch-btn.disabled {
   opacity: 0.5;
   cursor: not-allowed;
}

.stopwatch-btn.disabled:hover {
   opacity: 0.5;
}

.stopwatch-btn:hover {
   opacity: 0.8;
}

.stopwatch-btn:active {
   transform: scale(0.95);
}

.start {
   background-color: #35CE8D;
   border-color: #35CE8D;
}

.stop {
   background-color: #D85049;
   border-color: #D85049;
}

.lap {
   background-color: #4082fc;
   border-color: #4082fc;
}

.reset {
   background-color: #FF0054;
   border-color: #FF0054;
}