.button {
  width: 100px;
  height: 100px;
  /* padding: 15px 25px; */
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  /* text-decoration: none; */
  /* outline: none; */
  color: #fff;
  background-color: #04AA6D;
  /* border: none; */
  border-radius: 50%;
  /* box-shadow: 0 9px #999; */
}
.button:visited{
  background-color: #aa0412;
}
.changebutton {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  /* text-decoration: none; */
  /* outline: none; */
  color: #fff;
  background-color: #04AA6D;
  /* border: none; */
  border-radius: 10px;
  /* box-shadow: 0 9px #999; */
}

