.btn-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn {
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: white;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn:active {
    opacity: 1.2;
}

.startBtn {
    background-color: #8e2fed;
}

.stopBtn {
    background-color: #661eae;
}

.lapBtn {
    background-color: #91949a;
}

.resetBtn {
    background-color: #91949a;
}