/* App.css */
body {
    background-color: #282c34; 
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.time-container{
    color: #ccc;
    display: flex;
    letter-spacing: 2px;
}

.time-container span{
    position: relative;
    top: 5px;
    font-size: 4rem;
}

.timer-text{
    font-size: 5rem;
    margin: 0;
}
