body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.time-display {
  display: flex;
  justify-content: center;
}

.time-display .time-display-text {
  font-size: 3rem;
  margin: 0.5rem;
}

.stopwatch-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.stopwatch-btns button {
  font-size: large;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: cornflowerblue;
}

.stopwatch-btns .stop-btn {
  background-color: tomato;
}

.stopwatch-btns .start-btn {
  background-color: rgb(3, 199, 3);
}

.stopwatch-btns .reset-btn {
  background-color: rgb(255, 255, 0);
}

.stopwatch-btns button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.lap-display {
  width: 15rem;
  height: 25rem;
  margin-top: 3rem;
  padding: 0 1rem;
  overflow-y: auto;
}

.laps {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laps li {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.25rem;
  border: 1px solid black;
  border-radius: 5px;
  /* padding: 0.2rem; */
  width: 100%;
  text-align: center;
}
