@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Remove default browser margins to color entire page */
body {
    margin: 0px;
    padding: 0px;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: "Neucha" , cursive;
}

.header {
    text-transform: uppercase;
    font-size: 100px;
    margin: 30px 0;
    color: white;
    z-index: 1;
    text-align: center;
    padding-top: 100px
  }

  @media (max-width: 800px) {
    .heading {
      margin: 15px 0;
      font-size: 35px;
    }
  }
