/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500&display=swap');

/* Global styling for the body */
body {
    background-color: black;
    color: white;
    font-family: 'Azeret Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh; /* Set a maximum height to the viewport */
}

/* Styling for buttons */
button {
    border: 1px solid rgb(115, 115, 115);
    width: 20%;
    font-size: 1em;
    font-weight: 600;
    border-radius: 50px;
    background-color: black;
    color: rgb(115, 115, 115);
    padding: 2%;
    font-family: 'Azeret Mono', monospace;
    cursor: pointer;
    transition: linear .2s;
}

/* Hover effect for buttons */
button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

/* Styling for unordered lists and list items */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    color: rgb(115, 115, 115);
}

/* Additional styling for list items */
li {
    margin-bottom: 2%;
    font-weight: 300;
}

/* Styling for the main container */
.app_container{
    margin: 2%;   
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Styling for the tagline at the bottom of the page */
.tagline {
    margin: none;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    color:rgb(115, 115, 115);
}

/* Styling for the tagline text */
.tagline p {
    font-size: 1em;
}

/* Styling for the container of buttons */
.button_container {
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

/* Styling for the stopwatch container */
.stopwatch_container {
    text-align: center;
}

/* Styling for the stopwatch text */
.stopwatch_container p {
    font-size: 15vh;
    font-family: 'Azeret Mono', monospace;
    font-weight: 100;
}

/* Styling for the lap list */
.lap_list {
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

/* Styling for the scrollbar in the lap list */
.lap_list::-webkit-scrollbar {
    width: 10px;           
}

.lap_list::-webkit-scrollbar-track {
    background: black;
    border-radius: 50px;
}

.lap_list::-webkit-scrollbar-thumb {
    background-color:rgb(115, 115, 115);
    transition: .3s linear;
    border-radius: 50px;
}

.lap_list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(193, 193, 193);
}

/* stopwatch animation */
.pulsating-circle {
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
    
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #8a8a8a;
      animation: pulse-ring 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0,0,0,.3);
      animation: pulse-dot 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }

/* Media query for devices with a maximum width of 980 pixels (typical for tablets and mobile phones) */
@media (max-width: 980px) {
    body {
        max-height: 100vh;
    }

    /* Adjusted styles for smaller screens */
    .stopwatch_container p {
        font-size: 7vh;
        font-family: 'Azeret Mono', monospace;
        font-weight: 100;
    }

    .app_container {
        margin: 0;
        margin-top: 20%;
    }

    button {
        width: 50%;
        font-size: 1.5em;
        padding: .5em;
    }

    .lap_list {
        max-height: 40vh;
    }

    ul,li{
        font-size: 1.5em;
    }

    .tagline{
        font-size: 2em;
    }

    .pulsating-circle {
        position: absolute;
        left: 50%;
        top: 17%;
        transform: translateX(-50%) translateY(-50%);
        width: 30px;
        height: 30px;
}
}