.stopwatch-container {
    padding: 10px;
    text-align: center;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change from space-between */
}

.header,
.timer,
.laps-container {
    margin-top: 20px;
    margin-bottom: 20px; /* Adjusted spacing between elements */
}

.header {
    font-size: 1.5rem;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; /* Adjusted spacing */
}

.laps-container {
    margin-top: 1rem;
}

/* noticed a bug, webpack doesnt refresh unless you restart the server again*/
