:root {
    --neutral: #FAD4C0;
    --dark: #B09E99;

    --primary: #64B6AC;
    --primary-light: #C0FDFB;

    --secondary: #FAD4C0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Since this will only be a one-page application, this is fine */
body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: var(--neutral);
}

.stopwatch {
    display: flex;
    width: 500px;
    max-width: 500px;
    height: fit-content;
    padding: 20px;
    border-radius: 16px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.stopwatch-display {
    font-family: "Consolas", monospace;
}