body, #root{
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#292929;
  color:#E2DDD8;
  font-family: Ovo;
  margin-bottom:-250px;

}

.Button_Container {
  flex-direction:row;
}


.STOPWATCH {
  display:flex;
  flex-direction:column;
  align-items: center;

}

.STOPWATCH h1 {
  font-size: 100px;
  white-space:nowrap;
  margin-top:0px;
  width: 200px;

}

.STOPWATCH h2 {
  font-size: 60px;
  margin-top:-250px;
  text-decoration-line:underline;
}


.STOPWATCH button {
  margin: 10px;
  padding:10px;
  border: 1px solid white;
  background: none;
  cursor:pointer;
  font-size: 15px;
  color:white;
  font-family: Ovo;

}


.time_Labels {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top:-10%;
  padding-bottom:20px;

}

.Lap_Container {
  width: 100%;
  padding: 10px;
  margin:20px;
  overflow-y: scroll;
  height: 200px;
  text-align: center;
  border:1px solid white;
  scrollbar-color: #ffffff #535558;
}


.timer_Container {
  width:600px;
}

.Lap_Container::-webkit-scrollbar {
  width: 10px;
}

.Lap_Container::-webkit-scrollbar-track {
  background:  #ffffff;
  padding:5px;
}

.Lap_Container::-webkit-scrollbar-thumb {
  background:  #535558;
}










 /*
.stopwatch {
  text-align: center;
  font-family: Arial, sans-serif;
}

.stopwatch h1 {
  color: #333;
  font-size: 2em;
}

.stopwatch h2 {
  color: #666;
  font-size: 1.5em;
}

.stopwatch button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stopwatch button:hover {
  background-color: #0056b3;
}


 */