.stopwatch-div{
    padding-top: 2rem;
}

.stopwatch-time{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 3rem;
    font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15%;
}
