.STOPWATCH {
  text-align: center;
  background-color: #292929;
  color: "white";
}














 /*
.stopwatch {
  text-align: center;
  font-family: Arial, sans-serif;
}

.stopwatch h1 {
  color: #333;
  font-size: 2em;
}

.stopwatch h2 {
  color: #666;
  font-size: 1.5em;
}

.stopwatch button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stopwatch button:hover {
  background-color: #0056b3;
}


 */