.btn {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 30px;
    background-color: black;
    border: solid white;
    transition: transform 0.5s;
    padding: 25px;
    border-radius: 15%;
}

.btn:disabled {
    background-color: gray;
    color: darkgray;
}

.btn:hover:disabled {
    cursor: default;
    transform: none;
    background-color: gray;
}

.btn:hover{
    background-color: red;
    cursor: pointer;
    transform: scale(1.1);
}