body::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin; /* Use 50vmin for both width and height for a 1:1 aspect ratio */
  padding-bottom: 50vmin; /* Maintain a 1:1 aspect ratio (height = width) */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #69c2e3;
}

@font-face {
  font-family: 'Digital';
  src: url('./assets/Digital.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to left top, #3a7f80, #212a6c);
  font-family: 'Digital';
  overflow: hidden;
}

.stopwatch-container {
  margin: 5vmin auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons-container {
  position: fixed;
  display: inline-block;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
  width: 100%;
}

button {
  font-size: 2vmin;
  margin: 1vmin; /* Adjust as needed to decrease or increase space between buttons */
  font-family: fantasy;
  padding: 0.8vmin 0.8vmin;
  cursor: pointer;
  border: 2px solid #33ff00;
  border-radius: 2vmin;
  background-color: #16be2c;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ffcc00;
}

.timer-box {
  font-family: 'Digital';
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #69c2e3;
  padding: 2vmin;
  border-radius: 2vmin;
  color: #ffffff;
  font-size: 9vmin;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 2vmin;
}

.lap-times-heading {
  font-family: fantasy;
  color: #ffffff;
  font-size: 2vmin;
  margin-top: 6.5vmin;
  position: absolute;
  top: 51.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 2vmin;
}

.lap-times-container {
  display: inline-block;
  max-width: 30vmin;
  width: 13%;
  height: 9vmin;
  overflow-y: auto;
  border: 1px solid #69c2e3;
  margin-top: 5vmin;
  padding: 1vmin;
  border-radius: 2vmin;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 2vmin;
}

.lap-times-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2vmin;
  z-index: -1;
}


.lap-times-list {
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1vmin;
}

.lap-times-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 980px) {
  .timer-box {
    top: 45%;
    font-size: 8vmin; /* Adjust the font size for better readability on smaller screens */
  }

  .lap-times-heading {
    font-size: 2vmin; /* Adjust the font size for better readability on smaller screens */
    top: 50%;
  }

  .lap-times-container {
    width: 20%;
    height: 4%; /* Adjust the height based on your design preferences */
    margin-top: -7vmin; /* Adjust the margin-top based on your design preferences */
  }

  .buttons-container {
    bottom: 1vmin; /* Adjust the bottom spacing based on your design preferences */
    top: 49.4%;
  }
}
