body::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width of the circle relative to the viewport width */
  padding-bottom: 50%; /* Maintain a 1:1 aspect ratio (height = width) */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2); /* Color of the translucent circle background */
  border: 2px solid #69c2e3; /* Border color */
}

body::after {
  content: '';
  position: absolute;
  margin-top: -128px;
  top: 50%;
  left: 50%;
  border-radius: 10px; /* Adjust the border-radius for normal rounded corners */
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width of the square relative to the viewport width */
  height: 15vw; /* Adjust the height of the square relative to the viewport width */
  background-color: rgba(0, 0, 0, 0.2); /* Color of the translucent circle background */
  border: 1px solid #69c2e3; /* Border color */
}

@font-face {
  font-family: 'Digital';
  src: url('./assets/Digital.ttf') format('truetype');
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to left top, #3a7f80, #212a6c); /* Purple gradient */
  font-family: 'Digital';
  overflow: hidden; /* Disable overall page scrollbar */
}

/* StopWatch.css */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 8px;
}

/* Style.css */

.stopwatch-container {
  margin-top: 5vw; /* Adjust the margin relative to the viewport width */
  position: relative;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons-container {
  margin-bottom: 5vw; /* Adjust the margin relative to the viewport width */
}

button {
  font-size: 3vw; /* Adjust font-size relative to the viewport width */
  margin: 1vw; /* Adjust margin relative to the viewport width */
  font-family: fantasy;
  padding: 2vw 3vw; /* Adjust padding relative to the viewport width */
  cursor: pointer;
  border: 2px solid #33ff00;
  border-radius: 2vw; /* Adjust border-radius relative to the viewport width */
  background-color: #16be2c;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ffcc00;
}

.timer-box {
  font-family: 'Digital';
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2); /* Color of the translucent circle background */
  border: 1px solid #69c2e3; /* Border color */
  padding: 2vw; /* Adjust padding relative to the viewport width */
  border-radius: 2vw; /* Adjust border-radius relative to the viewport width */
  color: #ffffff;
  font-size: 5vw; /* Adjust font-size relative to the viewport width */
  margin-bottom: 2vw; /* Adjust margin relative to the viewport width */
  margin-top: 5vh; /* Adjust margin relative to the viewport height */
}

.lap-times-heading {
  font-family: fantasy;
  color: #ffffff;
  font-size: 2vw; /* Adjust font-size relative to the viewport width */
  margin-top: 2vh; /* Adjust margin relative to the viewport height */
}

.lap-times-container {
  position: relative;
  max-width: 50vw; /* Adjust the max-width relative to the viewport width */
  height: 30vh; /* Adjust the fixed height relative to the viewport height */
  overflow-y: auto;
  border: 1px solid #69c2e3;
  margin-top: 1vh; /* Adjust margin-top relative to the viewport height */
  margin-left: auto;
  margin-right: auto;
  padding: 2vw; /* Adjust padding relative to the viewport width */
  border-radius: 2vw; /* Adjust border-radius relative to the viewport width */
  flex-direction: column-reverse; /* Reverse the order of laps */
  background-color: rgba(0, 0, 0, 0.2); /* Background color with opacity */
}

.lap-times-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2vw; /* Adjust border-radius relative to the viewport width */
  z-index: -1;
}

.lap-times-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1vw; /* Adjust margin-bottom relative to the viewport width */
}

.lap-times-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}