/*
  Josh Comeau's CSS reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/*
  My Styles

  For the sake of simplicity, I'm keeping all of my styles in this one file.
  In a real-world app, I'd likely have a css file for each component.
*/

#root {
  --light-gray: #f9fafb;
  --gray: #374151;
  --dark-gray: #111827;
  --light-green: #4ade80;
  --green: #065f46;
  --dark-green: #064e3b;
  --light-red: #fda4af;
  --red: #9f1239;
  --dark-red: #881337;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-family: monospace;
}

button {
  background-color: var(--gray);
  color: var(--light-gray);
  border: none;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  padding: 8px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
}

button:active {
  background-color: var(--dark-gray);
}

button.start {
  background-color: var(--green);
  color: var(--light-green);
}

button.start:active {
  background-color: var(--dark-green);
}

button.stop {
  background-color: var(--red);
  color: var(--light-red);
}

button.stop:active {
  background-color: var(--dark-red);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.stopwatch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 16px;
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 350px;
  background: #000;
  color: var(--light-gray)
}

.timer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100%;
}

.buttons-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  text-align: center;
}

.laps-wrapper {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
  text-align: center;
  border-top: 1px solid var(--gray);
  padding-top: 4px;
  overflow-y: scroll;
}

.lap-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  margin-top: -4px;
  padding: 4px 0px;
  gap: 8px;
  text-align: center; 
}

.stopwatch-text {
  font-size: 4rem;
  font-family: monospace;
  font-weight: 300;
}