.lapsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    padding: 2rem 1rem;
    border: solid 0.1rem var(--border);
    border-radius: 2rem;
    animation-name: lapsContainerEnter;
    animation-duration: 80ms;
}

.lapsContainer h2 {
    padding: 0 0 1rem 1rem;
}

.lapTimes {
    overflow-y: auto;
    scrollbar-gutter: stable; /* reserve space for scrollbar */
}

@keyframes lapsContainerEnter {
    0% {
        opacity: 0;
        transform: scale(95%);
    }
}